<div class='container'>
  <h1>Badge Submitted</h1>
  <div>
    <h2>Badge UUID:</h2>
    <div><%= @hash_details.fetch('badge_uuid', '') %></div>
  </div>

  <div>
    <h2>Hash:</h2>
    <div><%= @hash_details.fetch('hash', '') %></div>
  </div>

  <div>
    <h2>Hash ID Node:</h2>
    <div><%= @hash_details.fetch('proof_id', '') %></div>
  </div>
</div>
